* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Aniron";
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #2e2e2e;
  overflow-x: hidden;
}

::-moz-selection {
  display: none;
}

::selection {
  display: none;
}

/* SCROLL BAR STYLING START */
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #664b40;
  outline: 3px solid #664b40;
  outline-offset: 1px;
  border-radius: 0.2rem;
}

/* SCROLL BAR STYLING END */
/* Header styling START */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

header .logo {
  width: 100px;
}

/* Header styling END */
/* Landing Page styling START */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1c0522), to(transparent));
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 11;
}

main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

main img#sun {
  mix-blend-mode: screen;
  width: 35%;
  height: 45%;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

main img#forest_front {
  z-index: 10;
  -webkit-transform: translateX(-1%);
          transform: translateX(-1%);
  width: 1935px;
}

#scrollDiv {
  height: 5000px;
}

main img#excalibur_sword {
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(675%);
          transform: translateY(675%);
}

main img#sword_stone {
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(675%);
          transform: translateY(675%);
}

main img#bow_arrow {
  width: 150px;
  z-index: 99;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  margin-left: 4.5rem;
}

main img#main_cave {
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
  position: relative;
  margin-top: 46rem;
}

#flying_birds {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(175%, -25%);
          transform: translate(175%, -25%);
}

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 1.5vw;
  margin-right: 2rem;
  z-index: 9;
  margin-bottom: 1rem;
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 100px;
  background: #1c0522;
  height: 1000px;
}

.sec img {
  height: 900px;
  bottom: 0;
  position: absolute;
  -webkit-transform: translate(5%, 15%);
          transform: translate(5%, 15%);
  z-index: 10;
}

.sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c0522), to(transparent));
  background: linear-gradient(to bottom, #1c0522, transparent);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

/* Landing Page styling END */
/* Warrior styling START */
.warrior {
  width: 200px;
  position: fixed;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 25.2rem;
  left: 44.2%;
}

#fixed {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

#fixed2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* Warrior styling END */
/* Dirt Path styling START */
.path-sec {
  height: 6400px;
  background-image: url(../assets/img/path.png);
  background-size: cover;
}

/* Yellow dragon styling START */
.dragon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#red_dragon {
  position: absolute;
  left: 30px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

#yellow_dragon {
  position: relative;
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
}

.activate_dragon {
  -webkit-animation: activate_dragon 8s infinite;
          animation: activate_dragon 8s infinite;
}

@-webkit-keyframes activate_dragon {
  from {
    top: 0px;
    left: 150px;
  }
  to {
    top: 600px;
    left: -2100px;
  }
}

@keyframes activate_dragon {
  from {
    top: 0px;
    left: 150px;
  }
  to {
    top: 600px;
    left: -2100px;
  }
}

/* Yellow dragon styling END */
/* Golem styling START */
.golem-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
  width: 100%;
}

#walking_golem {
  width: 250px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -o-object-fit: contain;
     object-fit: contain;
}

/* Golem styling END */
/* Bow Enemies styling START */
.enemies-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
}

.enemy-bx-1,
.enemy-bx-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#goblin {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

#archer {
  width: 225px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Bow Enemies styling END */
/* Orc Section START */
.orc-box {
  width: 100%;
  height: 2500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[20];
  -ms-grid-columns: (1fr)[25];
      grid-template: repeat(20, 1fr)/repeat(25, 1fr);
}

#orc_walk {
  -o-object-fit: contain;
     object-fit: contain;
  width: 190px;
  -ms-grid-row: 17;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 17/6/19/8;
  position: relative;
}

.activate_orc {
  -webkit-animation: activate_orc 5s;
          animation: activate_orc 5s;
}

@-webkit-keyframes activate_orc {
  from {
    left: 0px;
  }
  50% {
    left: 250px !important;
  }
  /* ignored */
  to {
    left: 500px;
  }
}

@keyframes activate_orc {
  from {
    left: 0px;
  }
  50% {
    left: 250px !important;
  }
  /* ignored */
  to {
    left: 500px;
  }
}

/* Orc Section END */
/* Dirt Path styling END */
/* Footer section styling START */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 900px;
}

.tavern-box,
.admin-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.tavern {
  -o-object-fit: contain;
     object-fit: contain;
  width: 600px;
  cursor: pointer;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.notice_board {
  -o-object-fit: contain;
     object-fit: contain;
  width: 300px;
  visibility: visible;
}

/* Footer section styling END */
#Btn {
  -ms-grid-row: 18;
  -ms-grid-row-span: 2;
  -ms-grid-column: 19;
  -ms-grid-column-span: 2;
  grid-area: 18/19/20/21;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  visibility: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 12;
  padding-top: 75px;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  left: 0;
  top: 0;
  width: 125%;
  height: 125%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
  background-image: url(../assets/img/townboard.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 60%;
  height: 100%;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 30px;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  margin: 0 0.5rem 2rem 0;
}

.close:hover,
.close:focus {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL NOTES STYLING START */
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5rem;
}

ul,
li {
  list-style: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  -webkit-transform: translate(2.5%, 20%);
          transform: translate(2.5%, 20%);
}

ul li a {
  text-decoration: none;
  color: #000;
  background: transparent;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  background-image: url(../assets/img/Rusty-nail.png);
  background-size: cover;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

ul li a:hover,
ul li a:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul li {
  margin: 1em;
}

.arrangementer {
  font-size: 20px !important;
}

/* MODAL NOTES STYLING END */
/*# sourceMappingURL=main.css.map */